$font-family-sans: -apple-system, BlinkMacSystemFont, lato, Helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: monaco, menlo, 'courier new', monospace;

$color-01: #22221f;
$color-02: #345b71;
$color-03: #fff;
