$font-family-sans: -apple-system, BlinkMacSystemFont, lato, Helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: monaco, menlo, 'courier new', monospace;

$scheme: 'ideato';

$background-vs-menu-difference: 96% !default;
$code-desaturate: 0% !default;
$color-01: #22221f !default;
$color-02: #345b71 !default;
$color-03: #fff !default;
$logo-size: 64px;
$logo-margin: s(4);
$menu-desaturate: 20% !default;

@if $scheme == 'ideato' {
  $background-vs-menu-difference: 100%;
  $code-desaturate: 40%;
  $color-01: #2b2b2b;
  $color-02: #e3574d;
  $color-03: #fff;
  $logo-size: 96px;
  $logo-margin: s(2.5);
  $menu-desaturate: 20%;
}
