$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: monaco, menlo, 'courier new', monospace;

$color-barley-corn: #576a6f;
$color-black-haze: #f6f6f6;
$color-matisse: #1092c2;
$color-shark: #221f20;
$color-white: #fff;
