@include block ('code') {

  $clipboard-background: rgba($code-background, 0.75);

  cursor: pointer;
  display: none;
  position: relative;

  &:hover {
    @include element ('info') {
      transform: translate(s(-1), s(-1));
    }

    @include element ('clipboard') {
      background-color: theme('background');
      color: lighten($code-color, 5%);
      padding-right: 0;
    }

    @include element ('syntax') {
      color: theme('primary');
    }
  }

  @include media ('>ml') {
    display: block;
  }

  @include modifier ('hidden') {
    display: none;
  }

  @include element ('info') {
    bottom: 0;
    display: inline-flex;
    position: absolute;
    right: 0;
    transform: translate(0, 0);
    transition: transform tween('hover');
  }

  @include element ('syntax') {
    @extend %tiny-bold-text;
    background-color: theme('background');
    color: $code-color;
    padding: s(0.5);
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: color tween('hover');
  }

  @include element ('clipboard') {
    @extend %tiny-text;
    background-color: $clipboard-background;
    border-radius: 100px 0 0 100px;
    color: $code-color;
    padding: s(0.5);
    padding-left: s(1);
    transition: background-color tween('hover'), padding-right tween('hover');
  }

  @include element ('preview') {
    @extend %font-code;
    background-color: $code-background;
    border: 0;
    margin: 0;
    overflow: scroll;
    padding: s(1);
    resize: none;
    width: 100%;
  }

  @include element ('source') {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
